<h3>Оверлеи</h3>
<small class="overlay-copy-hint">
    <p>Ниже представлены различные интерактивные <i>и не очень</i> оверлеи для стрима, которые вы можете подключить в OBS как браузерный источник.</p>
    <p>Все оверлеи рассчитаны на то, чтоб были растянуты на всю сцену, иначе они могут некорректно работать.</p>
    <p>Количество оверлеев не ограничено, подключать можете сколько угодно и каких угодно. <i>(Например, можете добавить несколько разных звёздочек с различным положением и цветом)</i></p>
</small>

<div class="overlay-cards">

    <div class="overlay-card-status" data-endpoint="/api/user/check-heat-installed" data-type="heat">
        <h3>Плагин <a href="https://dashboard.twitch.tv/extensions/cr20njfkgll4okyrhag7xxph270sqk-2.1.1">Heat</a> установлен</h3>
        <div class="status-indicator tooltip-container"><span class="tooltip-text">Показывает, что плагин успешно установлен и активирован</span></div>
    </div>

    <div class="overlay-card-status" data-endpoint="/api/user/check-sse" data-type="sse">
        <h3>Оверлей подключён к SSE</h3>
        <div class="status-indicator tooltip-container"><span class="tooltip-text">Оверлей добавлен в OBS и успешно подключён к серверу</span></div>
    </div>

    <div class="overlay-card" data-base="{{ request.base_url }}overlay/star">
        <h2>⭐ Звёздочка</h2>
        <p>Отображает наверху экрана интерактивную звёздочку, которую могут трогать зрители. Для корректной работы оверлей <u><b>должен быть растянут на всю сцену</b></u>. Добавлять можно несколько.</p>
        <div class="plugin-required">
            Для использования оверлея <b>обязательно</b> установить Heat
            <br/>
            <button class="install-btn" onclick="setupHeat()">Установить Heat</button>
        </div>
        <button class="overlay-toggle-settings">Настройки</button>
        <div class="overlay-settings">
            <div class="overlay-control">
                Положение по горизонтали
                <input type="range" min="0" max="1" step="0.01" value="0.5" data-param="pos"/>
            </div>
            <div class="overlay-control">
                Длина ниточки
                <input type="range" min="0" max="1" step="0.01" value="0.39" data-param="length" />
            </div>
            <div class="overlay-control">
                Размер
                <input type="range" min="8" max="256" value="16" data-param="size" />
            </div>
            <div class="control">
                Цвет
                <input type="color" value="#ffd45a" data-param="color">
            </div>
        </div>
        <p>Скопируй ссылку и вставь в OBS, растянув на всю сцену:</p>
        <div class="overlay-link"></div>
    </div>

    <div class="overlay-card" data-base="{{ request.base_url }}overlay/pair">
        <h2>🃏 Игра "Найди пару"</h2>
        <p>Мини-игра в угадывание двух одинаковых карточек, по которым могут кликать зрители, чтоб не скучать, например, когда вы куда-то отходите 👀<br>Для корректной работы оверлей <u><b>должен быть растянут на всю сцену</b></u>.</p>
        <div class="plugin-required">
            Для использования оверлея <b>обязательно</b> установить Heat
            <br/>
            <button class="install-btn" onclick="setupHeat()">Установить Heat</button>
        </div>
        <button class="overlay-toggle-settings">Настройки</button>
        <div class="overlay-settings">
            <div class="overlay-control">
              Использование стандартных смайликов твича
              <label class="switch">
                <input type="checkbox" data-param="use_twitch_emoji" />
                <span class="slider"></span>
              </label>
            </div>
            <div class="overlay-control">
              Использование стикеров автора бота
              <label class="switch">
                <input type="checkbox" data-param="arbuz" />
                <span class="slider"></span>
              </label>
            </div>
            <div class="overlay-control">
              Отступ слева
              <input type="range" min="0" max="1" step="0.01" value="0.2" data-param="offset_left"/>
            </div>
            <div class="overlay-control">
              Отступ справа
              <input type="range" min="0" max="1" step="0.01" value="0.2" data-param="offset_right"/>
            </div>
            <div class="overlay-control">
              Отступ сверху
              <input type="range" min="0" max="1" step="0.01" value="0.02" data-param="offset_top"/>
            </div>
            <div class="overlay-control">
              Отступ снизу
              <input type="range" min="0" max="1" step="0.01" value="0.05" data-param="offset_bottom"/>
            </div>
            <div class="overlay-control">
              Размер карточек
              <input type="range" min="0" max="1" step="0.01" value="0.87" data-param="card_scale"/>
            </div>
        </div>
        <p>Скопируй ссылку и вставь в OBS, растянув на всю сцену:</p>
        <div class="overlay-link"></div>
    </div>

    {% if user and user.login_name in ["quantum075", "d_e_l_y", "silverosemary"] %}
    <div class="overlay-card" data-base="{{ request.base_url }}overlay/ai-sticker">
        <h2>⭐ AI Stickers</h2>
        <p>Позволяет через награду кидать на стрим стикеры, сгенерированные с помощью ИИ.</p>
        <button class="overlay-toggle-settings">Настройки</button>
        <div class="overlay-settings">
            <button id="setup-ai-sticker-btn" onclick="setupAiStickerReward()">Установить</button>
        </div>
        <p>Скопируй ссылку и вставь в OBS, растянув на всю сцену:</p>
        <div class="overlay-link"></div>
    </div>
    {% endif %}
</div>
