<h3>Оверлеи</h3>
<small class="overlay-copy-hint">
    <p>Ниже представлены различные интерактивные <i>и не очень</i> оверлеи для стрима, которые вы можете подключить в OBS как браузерный источник.</p>
    <p>Все оверлеи рассчитаны на то, чтоб были растянуты на всю сцену, иначе они могут некорректно работать.</p>
    <p>Количество оверлеев не ограничено, подключать можете сколько угодно и каких угодно. <i>(Например, можете добавить несколько разных звёздочек с различным положением и цветом)</i></p>
    <p onclick="document.getElementById('wtf-is-heat-clip').style.display = 'flex';"><u>Да кто такой этот ваш Heat?!</u></p>
    <div id="wtf-is-heat-clip" style="display: none">
        <iframe src="https://clips.twitch.tv/embed?clip=RenownedGentleNuggetsOneHand-Qdid6nWmwKiSEGmB&parent=bot.quantum0.ru&parent=localhost" height="300" width="400" allowfullscreen></iframe>
    </div>
</small>

<div class="overlay-cards">

    <div class="overlay-card-status" data-endpoint="/api/user/check-heat-installed" data-type="heat">
        <h3>Плагин <a href="https://dashboard.twitch.tv/extensions/cr20njfkgll4okyrhag7xxph270sqk-2.1.1">Heat</a> установлен</h3>
        <div class="status-indicator tooltip-container"><span class="tooltip-text">Показывает, что плагин успешно установлен и активирован</span></div>
    </div>

    <div class="overlay-card-status" data-endpoint="/api/user/check-sse" data-type="sse">
        <h3>Оверлей подключён к SSE</h3>
        <div class="status-indicator tooltip-container"><span class="tooltip-text">Оверлей добавлен в OBS и успешно подключён к серверу</span></div>
    </div>

    <div class="overlay-card" data-base="{{ request.base_url }}overlay/star">
        <h2>⭐ Звёздочка</h2>
        <p>Отображает наверху экрана интерактивную звёздочку, которую могут трогать зрители. Для корректной работы оверлей <u><b>должен быть растянут на всю сцену</b></u>. Добавлять можно несколько.</p>
        <div class="plugin-required">
            Для использования оверлея <b>обязательно</b> установить Heat
            <br/>
            <button class="install-btn" onclick="setupHeat()">Установить Heat</button>
        </div>
        <button class="overlay-toggle-settings">Настройки</button>
        <div class="overlay-settings">
            <div class="overlay-control">
                Положение по горизонтали
                <input type="range" min="0" max="1" step="0.01" value="0.5" data-param="pos"/>
            </div>
            <div class="overlay-control">
                Длина ниточки
                <input type="range" min="0" max="1" step="0.01" value="0.39" data-param="length" />
            </div>
            <div class="overlay-control">
                Размер
                <input type="range" min="8" max="256" value="16" data-param="size" />
            </div>
            <div class="control">
                Цвет
                <input type="color" value="#ffd45a" data-param="color">
            </div>
            <div class="control">
                Шанс порвать ниточку 😱
                <input type="range" min="0" max="0.4" step="0.001" value="0.015" data-param="break_chance" />
            </div>
        </div>
        <p>Скопируй ссылку и вставь в OBS, растянув на всю сцену:</p>
        <div class="overlay-link"></div>
    </div>

    <div class="overlay-card" data-base="{{ request.base_url }}overlay/pair">
        <h2>🃏 Игра "Найди пару"</h2>
        <p>Мини-игра в угадывание двух одинаковых карточек, по которым могут кликать зрители, чтоб не скучать, например, когда вы куда-то отходите 👀<br>Для корректной работы оверлей <u><b>должен быть растянут на всю сцену</b></u>.</p>
        <div class="plugin-required">
            Для использования оверлея <b>обязательно</b> установить Heat
            <br/>
            <button class="install-btn" onclick="setupHeat()">Установить Heat</button>
        </div>
        <button class="overlay-toggle-settings">Настройки</button>
        <div class="overlay-settings">
            <div class="overlay-control">
              Использование стандартных смайликов твича
              <label class="switch">
                <input type="checkbox" data-param="use_twitch_emoji" />
                <span class="slider"></span>
              </label>
            </div>
            <div class="overlay-control">
              Использование стикеров автора бота
              <label class="switch">
                <input type="checkbox" data-param="arbuz" />
                <span class="slider"></span>
              </label>
            </div>
            <div class="overlay-control">
              Отступ слева
              <input type="range" min="0" max="1" step="0.01" value="0.2" data-param="offset_left"/>
            </div>
            <div class="overlay-control">
              Отступ справа
              <input type="range" min="0" max="1" step="0.01" value="0.2" data-param="offset_right"/>
            </div>
            <div class="overlay-control">
              Отступ сверху
              <input type="range" min="0" max="1" step="0.01" value="0.02" data-param="offset_top"/>
            </div>
            <div class="overlay-control">
              Отступ снизу
              <input type="range" min="0" max="1" step="0.01" value="0.05" data-param="offset_bottom"/>
            </div>
            <div class="overlay-control">
              Размер карточек
              <input type="range" min="0" max="1" step="0.01" value="0.87" data-param="card_scale"/>
            </div>
        </div>
        <p>Скопируй ссылку и вставь в OBS, растянув на всю сцену:</p>
        <div class="overlay-link"></div>
    </div>

    <div class="overlay-card" data-base="{{ request.base_url }}overlay/jumping-chibi">
        <h2>🦊 Jumping Chibi</h2>
        <p>Маленький прыгающий чиби-лисёнок (персонаж создателя бота) внизу экрана.</p>
        <button class="overlay-toggle-settings">Настройки</button>
        <div class="overlay-settings">
            <div class="overlay-control">
              Таймер появления (в минутах)
              <input type="range" min="0" max="10" step="0.5" value="3" data-param="timer"/>
            </div>
        </div>
        <p>Скопируй ссылку и вставь в OBS:</p>
        <div class="overlay-link"></div>
    </div>

    <!--
    <div class="overlay-card" data-base="{{ request.base_url }}overlay/tts">
        <h2>🗣 TTS</h2>
        <p>Простенький Text-To-Speach для чата.</p>
        <button class="overlay-toggle-settings">Настройки</button>
        <div class="overlay-settings">
            <div class="overlay-control">
              Что озвучивать?
              <fieldset>
                <input type="radio" id="tts-filter-all" data-param="tts-filter" name="contact" value="all">
                <label for="tts-filter-all">Все сообщения</label><br>

                <input type="radio" id="tts-filter-exclamation" data-param="tts-filter" name="contact" value="exclamation">
                <label for="tts-filter-exclamation">Сообщения, начинающиеся с !!!</label><br>

                <input type="radio" id="tts-filter-no-reply" data-param="tts-filter" name="contact" value="no-reply">
                <label for="tts-filter-no-reply">Все сообщения без реплаев</label><br>

                <input type="radio" id="tts-filter-tag" data-param="tts-filter" name="contact" value="tag">
                <label for="tts-filter-tag">Сообщения с тегом стримера</label>
              </fieldset>
            </div>
        </div>
        <p>Скопируй ссылку и вставь в OBS:</p>
        <div class="overlay-link"></div>
    </div>
    -->

    <div class="overlay-card" data-base="{{ request.base_url }}overlay/slovotron">
        <h2>🎲 Slovotron</h2>
        <p>Игра в угадывание слово по контексту от <a href="https://www.twitch.tv/fra3a">Fra3a</a>.</p>
        <p>Оригинальный сайт Словотрона <a href="https://slovotron.fra3a.ru/?channel_name={{ user.login_name }}">здесь</a>.</p>
        <button class="overlay-toggle-settings">Настройки</button>
        <div class="overlay-settings">
            <div class="overlay-control">
              Автоматический рестарт через:
              <input type="range" min="1" max="60" step="1" value="20" data-param="restart_time"/>
            </div>
        </div>
        <p>Скопируй ссылку и вставь в OBS:</p>
        <div class="overlay-link"></div>
    </div>

    {% if user and user.login_name in ["quantum075", "d_e_l_y", "silverosemary"] %}
    <div class="overlay-card" data-base="{{ request.base_url }}overlay/ai-sticker">
        <h2>⭐ AI Stickers</h2>
        <p>Позволяет через награду кидать на стрим стикеры, сгенерированные с помощью ИИ.</p>
        <button class="overlay-toggle-settings">Настройки</button>
        <div class="overlay-settings">
            <button id="setup-ai-sticker-btn" onclick="setupAiStickerReward()">Установить</button>
        </div>
        <p>Скопируй ссылку и вставь в OBS, растянув на всю сцену:</p>
        <div class="overlay-link"></div>
    </div>
    {% endif %}
</div>
