{% extends "base.html" %}

{% block title %}О проекте — Quantum0's Bot{% endblock %}

{% block styles %}
{% endblock %}

{% block content %}

<h1>О проекте</h1>
<p>
    Данный сервис создан для интеграции бота в ваш Twitch-канал.
</p>
<p>
    Изначальной целью была идея привязать интеграцию memealerts к твичу без участия сторонних программ, таких как streamerbot, mixitup и других.
    Но по ходу разработки этой интеграции было принято решение, что из сервиса можно сделать полноценный сайтик с возможностью пользоваться им и другим людям.
    Так же было решено вынести сюда команды чат-бота.
</p>
<p>
    Интеграция мемалёртов позволяет зрителям получать мемкоины за счёт активации соответствующей награды на канале твича.
    Чат бот же позволяет пользователям взаимодействовать друг с другом, а так же со стримером за счёт команд в чате, начинающихся с "!".
    Будучи начинающим стримером, бот в чате поможет вам повысить заинтересованность зрителей благодаря забавным ответам бота.
</p>
<p>
    Так же я раз любым предложениям по поводу развития сайта/сервиса/бота :>
</p>
<p>
    Приятного пользования <3
</p>


<h2>Кто учавствовал в создании и поддержке сервиса</h2>
<h3>Идея и разработка</h3>
<div class="author-card">
    <!--<img src="https://static-cdn.jtvnw.net/jtv_user_pictures/29e22097-499e-4b1b-a00b-153519fb95ba-profile_image-300x300.png" alt="Автор сайта">-->
    <img src="https://www.gravatar.com/avatar/8d825130cc13c46604c723498bebe808fd969c9c494b63d7410fe2b1bf3d195c?s=300">
    <h3>Quantum0</h3>
    <p>Разработка бота и сайта</p>
        <p><a href="https://www.twitch.tv/quantum075" target="_blank">Twitch</a></p>
        <p><a href="https://github.com/Quantum-0" target="_blank">Github</a></p>
</div>

<h3>Графика</h3>
<div class="authors-container">
    <div class="author-card">
        <img src="https://ulitochka.carrd.co/assets/images/image01.jpg?v=0ce9128e">
        <h4>Ulitochka</h4>
        <p>Изображения листиков по краям экрана</p>
        <p><a href="https://ulitochka.carrd.co/" target="_blank">carrd.co</a></p>
    </div>
    <div class="author-card">
        <img src="https://static-cdn.jtvnw.net/jtv_user_pictures/1994b38d-5c1b-4968-aaf1-a1ae7cae3020-profile_image-300x300.png">
        <h4>SillySnaily</h4>
        <p>Прыгающий чибик</p>
        <p><a href="https://www.twitch.tv/sillysnaily" target="_blank">Twitch</a></p>
        <p><a href="https://vk.com/sillysnaily" target="_blank">Группа VK</a></p>
    </div>
</div>

<h3>Материальная поддержка</h3>
<div class="authors-container">
    <div class="author-card">
        <img src="https://static-cdn.jtvnw.net/jtv_user_pictures/olyashaa-profile_image-678836346723f273-300x300.png">
        <h4>Оляша</h4>
        <p></p>
        <p><a href="https://www.twitch.tv/olyashaa" target="_blank">Twitch</a></p>
    </div>
    <div class="author-card">
        <img src="https://static-cdn.jtvnw.net/jtv_user_pictures/852871c6-7761-4c7a-9c69-e17328ee1cd1-profile_image-300x300.jpeg">
        <h4>Bearotar</h4>
        <p></p>
        <p><a href="https://www.twitch.tv/bearotar_rr" target="_blank">Twitch</a></p>
    </div>
        <div class="author-card">
        <img src="https://static-cdn.jtvnw.net/jtv_user_pictures/068f1cfb-3b1a-4468-ab28-321a1a69cd05-profile_image-300x300.png">
        <h4>Cherry Foster</h4>
        <p></p>
        <p><a href="https://www.twitch.tv/cherry_f0ster" target="_blank">Twitch</a></p>
    </div>
</div>

<h3>Бета-тестирование</h3>
<div class="authors-container">
    <div class="tester-card">
        <img src="https://static-cdn.jtvnw.net/jtv_user_pictures/521a421e-c258-41cc-b1c7-cea6a7687dee-profile_image-300x300.png">
        <h4>Жабанна</h4>
        <p>Жабка, и совсем не кошква.</p>
        <small>(Кстати, жабьего молока не существует)</small>
        <p>При участии в бета-тестировании нашла несколько важных багов</p>
        <p><a href="https://www.twitch.tv/toad_anna" target="_blank">Twitch - Основной</a></p>
        <p><a href="https://www.twitch.tv/anna_toad" target="_blank">Twitch - Второй канал</a></p>
    </div>
    <div class="tester-card">
        <img src="https://static-cdn.jtvnw.net/jtv_user_pictures/29679b2d-12d5-47f2-8a28-09b483996e0e-profile_image-300x300.png">
        <h4>Сильва</h4>
        <p>Помогла найти баг в настройках доступности команд</p>
        <p><a href="https://www.twitch.tv/silverosemary" target="_blank">Twitch</a></p>
    </div>
    <div class="tester-card">
        <img src="https://static-cdn.jtvnw.net/jtv_user_pictures/23699086-cf16-4c38-8896-6cf5105f2e0b-profile_image-300x300.png">
        <h4>Dely</h4>
        <p>Злобный страшный раптор</p>
        <small>(и по совместительству - круасанчик)</small>
        <p>Активно помогает тестить новые фичи бота. Нашла серьёзный баг с отвязкой работы награды для получения мемкоинов.</p>
        <p><a href="https://www.twitch.tv/d_e_l_y" target="_blank">Twitch</a></p>
    </div>
    <div class="tester-card">
        <img src="https://static-cdn.jtvnw.net/jtv_user_pictures/bc0af20e-b4db-4205-a2ba-f6aaf2903c1d-profile_image-300x300.png">
        <h4>FRA3a</h4>
        <p>Помогла найти хитрый косяк на фронте, из-за которого переставала работать кнопка с подключением награды для покупки мемкоинов.</p>
        <p><a href="https://www.twitch.tv/fra3a" target="_blank">Twitch</a></p>
    </div>
    <div class="tester-card">
        <img src="https://static-cdn.jtvnw.net/jtv_user_pictures/f61e1159-0c59-433b-95f3-d3caaacb1be9-profile_image-300x300.png">
        <h4>Лерч</h4>
        <p>Помогла найти ошибку в обработке чат-команд</p>
        <p><a href="https://www.twitch.tv/lerch_i" target="_blank">Twitch</a></p>
        <p><a href="https://www.twitch.tv/ya_krevetko" target="_blank">Канал, на котором нашли баг</a></p>
    </div>
    <div class="tester-card">
        <img src="https://static-cdn.jtvnw.net/jtv_user_pictures/a06e6167-a1aa-4974-9a07-3f1efaf334e8-profile_image-300x300.png">
        <h4>Artel</h4>
        <p>Вместе выявили проблему с начислением мемкоинов</p>
        <p><a href="https://www.twitch.tv/artel_vt" target="_blank">Twitch</a></p>
    </div>
    <div class="tester-card">
        <img src="https://static-cdn.jtvnw.net/jtv_user_pictures/8b873e03-82fd-47a1-9f90-4b9c258eca4c-profile_image-300x300.png">
        <h4>Кир</h4>
        <p>Обнаружил проблему с ошибкой созданий награды на твиче</p>
        <p><a href="https://www.twitch.tv/kir_lucky" target="_blank">Twitch</a></p>
    </div>

    Кроме перечисленных выше людей я благодарен всем и каждому,
    кто принял какое-либо участие в бета-тесте,
    подключая бота на своём канале,
    помогая тем самым обнаружить возникающие проблемы
    и сообщал мне о них <3
</div>

<hr>

<p>
    На своих стримах на твиче я обычно отказываюсь от донатов, потому что считаю что делаю это в первую очередь для себя,
    ради своего удовольствия, прокачивания социальных навыков и прочего.
    Но в случае с этим сервисом - на него было потрачено несколько десятков часов разработки, собственного времени и сил.
    Кроме того, я ежемесячно оплачиваю аренду сервера, благодаря которому вы сейчас видите этот сайт.
    Исходя из этого, думаю, с моей стороны будет честно оставить ссылочку на донаты, для тех, кто пользуется сервисом и хочет поддержать меня и мои старания ^-^
    Так что, я ни к чему не принуждаю, вы всё ещё можете пользоваться сайтом бесплатно, но если захотите покормить его создателя, сделать это можете <a href="https://boosty.to/quantum0">туть</a>. 👀👉👈
    <br>
    P.S. Так же, в качестве поддержки, вы можете подписаться на мой канал и поддержать меня как стримера :з
</p>

{% endblock %}
