{% extends "base.html" %}

{% block title %}О проекте — Quantum0's Bot{% endblock %}

{% block content %}
    <h1>О проекте</h1>
    <p>Данный сервис создан для интеграции бота в ваш Twitch-канал. Вы можете использовать команды и интегрировать мемалёрты, пополняя баланс пользователей за баллы канала.</p>

    <h2>Кто сделал?</h2>
    <div class="author-card">
        <!--<img src="https://static-cdn.jtvnw.net/jtv_user_pictures/29e22097-499e-4b1b-a00b-153519fb95ba-profile_image-300x300.png" alt="Автор сайта">-->
        <img src="https://www.gravatar.com/avatar/8d825130cc13c46604c723498bebe808fd969c9c494b63d7410fe2b1bf3d195c?s=300">
        <h3>Quantum0</h3>
        <p>Разработка бота и сайта</p>
            <p><a href="https://www.twitch.tv/quantum075" target="_blank">Twitch</a></p>
            <p><a href="https://github.com/Quantum-0" target="_blank">Github</a></p>
    </div>

    <h3>Дизайн</h3>
    <div class="author-card">
        <img src="https://ulitochka.carrd.co/assets/images/image01.jpg?v=0ce9128e">
        <h4>Ulitochka</h4>
        <p>Изображения листиков по краям экрана</p>
            <p><a href="https://ulitochka.carrd.co/" target="_blank">carrd.co</a></p>
    </div>
    <div class="author-card">
        <img src="...">
        <h4>SillySnaily</h4>
        <p>Прыгающий чибик</p>
            <p><a href="..." target="_blank">TODO вставить сюда ссылочку</a></p>
    </div>
{% endblock %}
