{% extends "base.html" %}

{% block title %}О проекте — Quantum0's Bot{% endblock %}
{% block description %}О проекте бота Quantum075Bot для начисления мемкоинов за баллы канала, автоматического shoutout зарейды и различных команд в чате, по типу !трусы !кусь !лизь !обнять и т.п.{% endblock %}

{% block content %}
<div class="container">
    <section>
        <h2>Настройки</h2>

        Баланс: <!-- Здесь должен отображаться баланс пользователя для генерации -->

        <!--
        Тут должна быть кнопочка создания и подключения награды
        А так же панелька для индикации, что всё работает успешно
        Сделать эту награду нужно ровно по тому же принципу, как работает сейчас memealerts_v2
        из раздела Нативная интеграция с Memealerts в panel/memealerts.html
        -->

        <br/>

        <p>Ваш персонаж для генерации в ИИ-стикерах. Можно указать что-то одно, либо оба пункта сразу.</p>
        <form action="/api/user/reference" method="post" enctype="multipart/form-data">
          <!-- File Selection Field -->
          <div>
            <label for="file">Изображение вашего персонажа</label>
            <input type="file" id="file" name="file" accept="image/png">
          </div>

          <!-- Description Textarea Field -->
          <div>
            <label for="description">Описание вашего персонажа</label>
            <textarea id="description" name="description" rows="4" cols="50" placeholder="Enter a description here..."></textarea>
          </div>
          <!-- Submit Button -->
          <button type="submit">Сохранить</button>
        </form>

        <!--
        Эти переключатели должны выглядеть аналогично, как в /panel переключатели у чат-бота.
        Обновлять в бд эту настройку можно даже через ту же ручку, что и чат бот, наверно, и писать в ту же таблицу settings
        -->

        <div>
            <input type="checkbox" id="terms" name="terms" value="accepted">
            <label for="terms">разрешать генерировать себя у других</label>
        </div>

        <div>
            <input type="checkbox" id="terms" name="terms" value="accepted">
            <label for="terms">отображать ии стикеры в профиле</label>
        </div>

        <div>
            <input type="checkbox" id="terms" name="terms" value="accepted">
            <label for="terms">отображать рефку в профиле</label>
        </div>

        <div>
            <input type="checkbox" id="terms" name="terms" value="accepted">
            <label for="terms">использовать модель дороже</label>
        </div>
        <!-- ^ Настройка для выбора модели должна быть через radio-button и выбираться должно между пунктами "Дешевле, но ниже качество" и "Качественнее, но выше стоимость" -->


    </section>
    <section>
        <h2>Сгенерированные на ваших стримах стикеры :з</h2>
        <!--
        TODO:
        ТУТ ДОЛЖЕН БЫТЬ СПИСОК ИЗ ПОСЛЕДНИХ СТИКЕРОВ
        Отображать мы их будем так же как в /profile/<username>
        Но в профиле мы будем отображать 20 последних
        Здесь же мы должны показать несколько из них
        А внизу кнопка "Показать ещё",
        которая будет подгружать ещё стикеры джаваскриптом
        Если стикеров больше нет и пагинация закончилась - отобразим внизу надпись "На этом всё, ребята ¯\_(ツ)_/¯"
        Пагинацию лучше делать курсорную, т.к. в момент прогрузки кто-то может сгенерировать стикер сверху
        И нам нужно чтоб пагинация не съехала
        В качестве курсора вероятнее всего лучше использовать дату, но надо обдумать этот момент
        -->
        <i>Стикеры удаляются через время. Если хотите их сохранить, лучше сделать это сейчас :з</i>
    </section>
</div>

<!-- После всех этих изменений нам нужно убрать кнопку "Установить" в panel/overlays.html, и добавить там кнопку чтоб перейти на эту страницу
Сама эта страница должна открываться по адресу my-site/ai-stickers-->
{% endblock %}