{% extends "base.html" %}

{% block title %}Инструкция по получению ключа Memealerts{% endblock %}

{% block styles %}
{% endblock %}

{% block content %}
<div class="tutorial-container">
    <h2>Как получить ключ для Memealerts</h2>

    <div class="tutorial-step">
        <h3>Шаг 1</h3>
        <img src="/static/images/meme-tutor-1.jpg" alt="Шаг 1">
        <p>Зайдите в <a href="https://memealerts.com/dashboard" target="_blank">дашборд Memealerts</a>.</p>
    </div>

    <div class="tutorial-step">
        <h3>Шаг 2</h3>
        <img src="/static/images/meme-tutor-2.jpg" style="width:60%" alt="Шаг 2">
        <p>Нажмите правой кнопкой мыши на пустом месте страницы, выберите пункт <b>Просмотреть код</b>.</p>
    </div>

    <div class="tutorial-step">
        <h3>Шаг 3</h3>
        <img src="/static/images/meme-tutor-3.jpg" alt="Шаг 3">
        <p>Перейдите в раздел <b>Network</b>, нажмите <b>Reload page</b>.</p>
    </div>

    <div class="tutorial-step">
        <h3>Шаг 4</h3>
        <img src="/static/images/meme-tutor-4.jpg" alt="Шаг 4">
        <p>Отфильтруйте запросы по <b>Fetch/XHR</b>.</p>
        <p>Слева выберите запрос <b>status</b>. (Так же подойдёт invite, current, event, supporters и некоторые другие)</p>
        <p>Справа, во вкладке Headers, в разделе Request Headers, найдите поле Authorization.</p>
        <p>Значение этого поля и есть наш ключ. Скопируйте его.</p>
    </div>

    <div class="tutorial-step">
        <h3>Шаг 5</h3>
        <img src="/static/images/meme-tutor-5.jpg" alt="Шаг 5">
        <p>Вставьте его в поле <b><i>Ключ</i></b> в панели управления ботом.</p>
    </div>

    <h3>FAQ</h3>
    <p><b>Что это за ключ?</b></p>
    <p>Это токен авторизации на memealerts, который сохраняет браузер, чтобы открывать панель управления. По сути, просто ваша авторизация на мемалёрте.</p>
    <p><b>Безопасно ли его передавать?</b></p>
    <p>Токен авторизации на любом сайте сохраняет вашу авторизацию. Он не хранит в себе логин или пароль, но будучи вставленным в браузере он позволяет зайти с вашей учётки в панель управления</p>
    <p><b>Безопасно ли его вставлять на твоём сайте? Почему необходимо его копировать?</b></p>
    <p>Токен сохраняется в БД, шифруется секретным ключом. Получить его даже залогинившись на моём сайте под вашей учёткой обратно нельзя. Сама база данных также защищена паролем. В общем, имеются все меры безопасности, чтоб никто у вас его не украл.</p>
    <p><b>Почему авторизация на твиче работает одной кнопкой, а на мемалёртсе так сложно?</b></p>
    <p>Получить токен автоматически нет возможности, поэтому такой сложный путь через копирование инструментов браузера. Разработчики memealerts пока не предоставили никакого API для интеграции с внешними сервисами. (Я их спрашивал :D). Но обещают в будущем это сделать. Пока нет прямой интеграции, получить доступ можно только так.</p>
    <p>P.S. Когда вы нажимаете кнопку "разрешить" при авторизации на этом (или любом другом) сайте (типа streamelements, wisebot и пр.), сайт по сути получает ровно такой же токен, твич сам его передаёт на сервер, но без участия пользователя. При большом желании, можете ознакомиться с тем, как происходит эта авторизация с твичом <a href="https://dev.twitch.tv/docs/authentication/getting-tokens-oauth/">здесь</a>.</p>
    <p><b>Что происходит с ключом, после того как я его вставлю и сохраню?</b></p>
    <p>На сайте вы вставляете этот ключ, он шифруется и сохраняется в базу данных.
        Когда пользователь дёргает награду, твич отправляет на сервер сообщение о том, кем была активирована награда, с каким текстом и на чьём канале.
        Сервер достаёт этот токен из базы данных, расшифровывает отдельно лежащим секретным ключом, авторизовывается с ним под вашим аккаунтом в панели управления, после чего начисляет мемкоины нужному пользователю.</p>
    <h3>P.S. Ни в коем случае не передавайте этот ключ третьим лицам!</h3>
</div>
{% endblock %}
