{% extends "base.html" %}

{% block title %}Настройки — Quantum0's Bot{% endblock %}
{% block description %}Панель управления ботом Twitch Quantum0's Bot{% endblock %}

{% block styles %}
{{ super() }}
{% endblock %}

{% block head_scripts %}
<script src="{{ static_url('js/panel-scripts.js') }}"></script>
<script>
    const channel_id = {{ user.twitch_id }};
    const channel_name = "{{ user.login_name }}";
    const slovotron_secret = "{{ slovotron_secret }}";
</script>
{% endblock %}

{% block content %}
<h2>Привет, {{ user.login_name }}!</h2>
<p>Добро пожаловать в панель управления ботом. Здесь вы можете настроить весь необходимый функционал для своих стиримов.</p>

<section>
{% include "panel/chatbot.html" %}
</section>

<section>
{% include "panel/memealerts.html" %}
</section>

<section>
{% include "panel/other.html" %}
</section>

<section>
{% include "panel/overlays.html" %}
</section>

<div class="notification-container"></div>

{% endblock %}
