{% extends "base.html" %}

{% block title %}Roadmap{% endblock %}

{% block content %}
<h2 style="text-align:center;">Roadmap</h2>
<div class="roadmap">
    {% for item in roadmap %}
    <div class="roadmap-item {% if loop.index is even %}left{% endif %}">
        <div class="roadmap-circle">{{ item.date }}</div>
        <div class="roadmap-text">{{ item.text }}</div>

        {% if not loop.last %}
        <div class="connector">
          <svg viewBox="0 0 400 120" preserveAspectRatio="none">
            <defs>
              <marker id="arrowhead" markerWidth="10" markerHeight="7"
                      refX="10" refY="3.5" orient="auto">
                <polygon points="0 0, 10 3.5, 0 7" fill="#4CAF50" />
              </marker>
            </defs>
            {% if loop.index is odd %}
              <!-- Стрелка вправо вниз -->
              <path d="M 45 0 C 35 220, 365 -100, 355 121" />
            {% else %}
              <!-- Стрелка влево вниз -->
              <path d="M 355 0 C 365 220, 35 -100, 45 121" />
            {% endif %}
          </svg>
        </div>
        {% endif %}
    </div>
    {% endfor %}
</div>

<div class="roadmap-todo">
  <h3>Дальше в планах</h3>
  <ul>
    {% for todo in todos %}
      <li>{{ todo }}</li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
